.container {
    min-height: 100vh;
    min-width: 100vh;
    margin: 0;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

body{
    background-color: rgb(0, 0, 0);
    color: white;
}

button{
    margin: 20px;
}