.container {
    min-height: 100vh;
    min-width: 100vh;
    margin: 0;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

body{
    background-color: rgb(0, 0, 0);
    color: white;
}

button{
    margin: 20px;
}

.ghost {
    /* width: 100px;
    height: 100px; */
    animation: rotation 1.5s infinite linear;
}

@keyframes rotation {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(359deg);
    }
}

@media (max-width: 768px) {
    .container {
        width: 100%;
    }
}