.rules-container {
    padding: 40px;
    line-height: 1.6;
    max-width: 600px;
    margin: auto;
}

.rules-container h2 {
    text-align: center;
    margin-top: 20px;
}

.rules-container p,
.rules-container ul,
.rules-container ol {
    margin: 10px 0;
}
