h1 {
    font-family: Sans-serif;
    font-weight: normal;
}
.board{
    width: fit-content;
    display: grid;   
}

.board-container {
    overflow-x: auto; /* Enables horizontal scroll if the board is too wide */
    max-width: 100vw;
}

.board {
    display: grid;
    width: 100%; 
    max-width: 100vw;
    margin: 0 auto;
}